In [2]:
import pandas as pd
from data import _get_station_info, get_temperatures, _get_useful_stations_from_data_urls

all_stations = _get_station_info()
all_stations

,Stations_id,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland
0,1,19310101,19860630,478,47.8413,8.8493,Aach,Baden-Württemberg
1,3,18510101,20110331,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen
2,44,19710301,20230930,44,52.9336,8.2370,Großenkneten,Niedersachsen
3,52,19730101,20011231,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein
4,61,19750701,19780831,339,48.8443,12.6171,Aiterhofen,Bayern
...,...,...,...,...,...,...,...,...
1191,19607,19720501,20010430,615,50.6952,13.4972,Cämmerswalde-Rauschenb,Sachsen
1192,19617,19330101,20061231,310,49.7391,10.6039,Burghaslach,Bayern
1193,19647,19500701,20051031,178,49.4547,8.9794,Eberbach/Neckar,Baden-Württemberg
1194,19781,18810101,19531231,367,48.7429,11.4233,Ingolstadt,Bayern
1195,19794,18810101,19541231,370,49.4415,11.8529,Amberg (Mariahilfberg),Bayern

In [3]:
useful_stations = _get_useful_stations_from_data_urls()
useful_stations

,station_id,start,end,url
2,44,19710301,20221231,https://opendata.dwd.de/climate_environment/CD...
8,73,19520701,20221231,https://opendata.dwd.de/climate_environment/CD...
9,78,19610101,20221231,https://opendata.dwd.de/climate_environment/CD...
10,91,19781101,20221231,https://opendata.dwd.de/climate_environment/CD...
20,142,19550101,20221231,https://opendata.dwd.de/climate_environment/CD...
...,...,...,...,...
1014,5825,19530701,20221231,https://opendata.dwd.de/climate_environment/CD...
1023,5906,18810101,20221231,https://opendata.dwd.de/climate_environment/CD...
1027,5941,19370401,20221231,https://opendata.dwd.de/climate_environment/CD...
1039,6159,19590301,20221231,https://opendata.dwd.de/climate_environment/CD...
1064,6314,19490201,20221231,https://opendata.dwd.de/climate_environment/CD...

In [4]:
useful_stations.join(
    all_stations.set_index('Stations_id'),
    on='station_id'
    ).reset_index(drop=True)

,station_id,start,end,url,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland
0,44,19710301,20221231,https://opendata.dwd.de/climate_environment/CD...,19710301,20230930,44,52.9336,8.2370,Großenkneten,Niedersachsen
1,73,19520701,20221231,https://opendata.dwd.de/climate_environment/CD...,19520701,20230930,374,48.6183,13.0620,Aldersbach-Kramersepp,Bayern
2,78,19610101,20221231,https://opendata.dwd.de/climate_environment/CD...,19610101,20230930,64,52.4853,7.9125,Alfhausen,Niedersachsen
3,91,19781101,20221231,https://opendata.dwd.de/climate_environment/CD...,19781101,20230930,300,50.7446,9.3450,Alsfeld-Eifa,Hessen
4,142,19550101,20221231,https://opendata.dwd.de/climate_environment/CD...,19550101,20230930,511,48.4060,11.3117,Altomünster-Maisbrunn,Bayern
...,...,...,...,...,...,...,...,...,...,...,...
291,5825,19530701,20221231,https://opendata.dwd.de/climate_environment/CD...,19530701,20230930,40,52.6198,12.7867,Berge,Brandenburg
292,5906,18810101,20221231,https://opendata.dwd.de/climate_environment/CD...,18810101,20230930,98,49.5063,8.5584,Mannheim,Baden-Württemberg
293,5941,19370401,20221231,https://opendata.dwd.de/climate_environment/CD...,19370401,20230930,686,47.6754,12.4698,Reit im Winkl,Bayern
294,6159,19590301,20221231,https://opendata.dwd.de/climate_environment/CD...,19590301,20230930,8,52.9542,7.3197,Dörpen,Niedersachsen
295,6314,19490201,20221231,https://opendata.dwd.de/climate_environment/CD...,19490201,20230930,306,51.0507,13.3003,Nossen,Sachsen

In [5]:
stations = pd.merge(
    all_stations, 
    useful_stations, 
    how='inner', 
    left_on='Stations_id', 
    right_on='station_id',
    validate='one_to_one'
    )

stations

,Stations_id,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland,station_id,start,end,url
0,44,19710301,20230930,44,52.9336,8.2370,Großenkneten,Niedersachsen,44,19710301,20221231,https://opendata.dwd.de/climate_environment/CD...
1,73,19520701,20230930,374,48.6183,13.0620,Aldersbach-Kramersepp,Bayern,73,19520701,20221231,https://opendata.dwd.de/climate_environment/CD...
2,78,19610101,20230930,64,52.4853,7.9125,Alfhausen,Niedersachsen,78,19610101,20221231,https://opendata.dwd.de/climate_environment/CD...
3,91,19781101,20230930,300,50.7446,9.3450,Alsfeld-Eifa,Hessen,91,19781101,20221231,https://opendata.dwd.de/climate_environment/CD...
4,142,19550101,20230930,511,48.4060,11.3117,Altomünster-Maisbrunn,Bayern,142,19550101,20221231,https://opendata.dwd.de/climate_environment/CD...
...,...,...,...,...,...,...,...,...,...,...,...,...
291,5825,19530701,20230930,40,52.6198,12.7867,Berge,Brandenburg,5825,19530701,20221231,https://opendata.dwd.de/climate_environment/CD...
292,5906,18810101,20230930,98,49.5063,8.5584,Mannheim,Baden-Württemberg,5906,18810101,20221231,https://opendata.dwd.de/climate_environment/CD...
293,5941,19370401,20230930,686,47.6754,12.4698,Reit im Winkl,Bayern,5941,19370401,20221231,https://opendata.dwd.de/climate_environment/CD...
294,6159,19590301,20230930,8,52.9542,7.3197,Dörpen,Niedersachsen,6159,19590301,20221231,https://opendata.dwd.de/climate_environment/CD...
295,6314,19490201,20230930,306,51.0507,13.3003,Nossen,Sachsen,6314,19490201,20221231,https://opendata.dwd.de/climate_environment/CD...

In [11]:
max_temps = get_temperatures(stations['url'].iloc[1])
max_temps

                   MX_TX
MESS_DATUM_BEGINN
1952-07-01        -999.0
1952-08-01        -999.0
1952-09-01        -999.0
1952-10-01        -999.0
1952-11-01        -999.0
...                  ...
2022-08-01          36.4
2022-09-01          28.2
2022-10-01          22.1
2022-11-01          16.9
2022-12-01          11.9

[841 rows x 1 columns]

In [15]:
max_temps[max_temps['MX_TX'] == -999] = pd.NA
max_temps

                   MX_TX
MESS_DATUM_BEGINN
1952-07-01           NaN
1952-08-01           NaN
1952-09-01           NaN
1952-10-01           NaN
1952-11-01           NaN
...                  ...
2022-08-01          36.4
2022-09-01          28.2
2022-10-01          22.1
2022-11-01          16.9
2022-12-01          11.9

[841 rows x 1 columns]

In [16]:
stations['url'].iloc[1]

'https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/monthly/kl/historical/monatswerte_KL_00073_19520701_20221231_hist.zip'